<% if @team.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @team.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="hero">
  <%= image_tag "hills.jpg", class: 'hero-image form-hero login-hero' %>
  <div class="hero-content">
    <div class="hero-body">
      <%= form_for @team, class: 'box-pop' do |f| %>
        <%= devise_error_messages! %>
        <header class="form-header-pop">New Team</header>
        <%= f.text_field :name, class: 'input-light', placeholder: 'Team Name' %>
        <div class="team-members-select">
          <div class="f-row responsive">
            <div class="f-col-1 flex-center">
              <h4 class="text-light">Add Members</h4>
            </div>
            <div class="f-col-3">
              <div class="f-row responsive members-select-list">
                <% User.all.each do |user| %>
                  <% if user.id != current_user.id %>
                    <div class="f-col-2 flex-center">
                      <div class="checkbox-light">
                        <%= check_box_tag "member_ids[]", user.id, false, :id => user.id %>
                        <%= label_tag user.id, user.username, false %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="f-row">
            <%= f.submit "Create Team", class: 'btn-pop f-col-1 flex-center' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
